body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
     font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.card-footer-custom {
    background-color: white;
    border-top: none;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.card hr{
     color: lightslategray;
     margin-left: 20px;
     margin-right: 20px;
  }
 .card-footer small{
    width: -100%;
    text-align: center;
 }