body {
    background-color: #243238;
    color: aliceblue;
}

.page-container{
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
/* EDICIONES NAVBAR */

.navbar {
    color: aliceblue;
}

.navbar-nav a{
    color: aliceblue;
    font-size: 1.3rem;
    margin-right: 2rem;
}
.inicio a{
    color: #33FFA9 !important;
    font-size: 1.7rem;
}
.navbar-toggler{
    background-color: #10fc99;
}


/* ECICIONES SECCION PRESENTACION */
.hero-section{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.hero-section img{
    width: 630px;
    height: 630px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2rem;
    
}
.aside-presentacion{
    padding-left: 1rem;
    margin-top: 2rem;
    padding-right: 7rem;

}
.aside-presentacion h2{
    font-size: 6rem;
}
.aside-presentacion p{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* SECCION ACERCA DE MI */

.img-container img{
    width: 100%;
    object-fit: cover;
}
.text-container{
    font-size: 2rem;
}
.img-container{
    padding-left: 0;
}
.acerca-de-mi h1{
    font-size: 5rem;

} 

.hrlinea{
        vertical-align: middle;
            width: 100%;
            display: inline-block;
            border: 3px solid #33FFA9;
}
.title-section{
    height: 10rem;
    padding: 10px;
}

/* SECCION ESTUDIOS */
.title-section h1{
    font-size: 3rem;
}

ul li{
    font-size: 2rem;
}
/* SECCION TRABAJOS RECIENTES  */
.trabajos-recientes{
    padding: o;
}

.trabajos-recientes h1{
    font-size: 4rem;
} 
.carousel-item img{
    object-fit: cover;
    height: 85rem;
}

/* FOOTER */

.footer{
    background-color: #243238;
    color: aliceblue;
    padding: 2rem 0;
}
.icons{
    font-size: 4rem;
    margin: 2rem;
}

